!!! 5
%html{ :lang => "en" }
  %head
    %meta{:charset =>"utf-8"}
    %title=  @options.title
    %meta{:name =>'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= @options.title
  %frameset{border: "1", bordercolor: "#999999", cols: "400,*", frameborder: "1", framespacing: "1"}
    %frame{name: "nav", src: "nav.html", title: "Search"}/
    %frame{name: "main", src: "main.html"}/
